body{
    margin: 0;
    padding: 0;
    background-image: url('../images/background.jpg');
    background-repeat: repeat;
}
.container-fluid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    margin:auto;
    padding: 0;
    width: 80vw;

}
.fl{
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    align-content: space-between;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-items: center;

}
.menu_brand{

}
.imgText{
    background-color: #20686a;
    width: 300px;
    text-align: center;
    font: white;
    padding: 20px 10px 16px 10px;
    height: 120px;
    margin-bottom: 2em;

}
.imgTextG{
    background-color: #95B927;
    width: 350px;
    text-align: center;
    font: white;
    padding: 20px 10px 16px 10px;
    height: 120px;
    margin-bottom: 1em;
    color: white;
}
.imgTextO{
    background-color: #EA9010;
    width: 350px;
    text-align: center;
    font: white;
    padding: 20px 10px 16px 10px;
    height: 120px;
    margin-bottom: 1em;
    color: white;
}
.imgTextP{
    background-color: #3B1F2B;
    width: 350px;
    text-align: center;
    font: white;
    padding: 20px 10px 16px 10px;
    height: 120px;
    margin-bottom: 1em;
    color: white;

}
.flexer{
    margin-right: .5em;
    margin-left: .5em;
}
h2{
    padding: 0;
    margin: 0 !important;

}
Box{
    background-color: white;
}
a{
    color: #fff;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
}


.hero-image{
    margin: 0;
    padding: 0;
}
.hero-image_container{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    width: 30vw;


}
.flexcon{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100vw;
    flex-wrap: wrap;

}
.img{
    background-image: url(../images/imageedit_19_7192569185.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
    margin: 0;
    min-width: 870px;

}

.hero-image_mobile{
    display: none;
}



.hero-image_text{
    margin-left: 7rem;
    color: #fff;
}
h2{
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: .5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.hero-image_text_button{
    background-color: #20686a;
    color: #fff !important;
    border: none;
    padding: 15px 30px;
    margin-top: 1rem;
    font-size: 24px;
    font-family: 'Questrial', sans-serif;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    animation-name: fadein;
    animation-duration: 2s;
    position: relative;

}
.hero-image_text_button:hover, .hero-image_text_button_bottom:hover{
    background-color: #0E2E2F;
    text-decoration: none;
}
.hero-image_text_button_bottom{
    background-color: #20686a;
    color: #fff !important;
    border: none;
    padding: 15px 30px;
    margin-top: 1rem;
    font-size: 24px;
    font-family: 'Questrial', sans-serif;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    animation-name: fadein;
    animation-duration: 2s;
   text-align: center;
   margin: auto;

}

.hero-image_text_heading{
    padding-top: 9rem;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 36px;
    font-family: 'Questrial', sans-serif;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: .5s;
    animation-name: fadein;
    animation-duration: .5s;
    position: relative;
}


.hero-image_text_p{
    margin-top: 1rem;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 22rem;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    animation-name: fadein;
    animation-duration: 1s;
    position: relative;
}
.hero-image_text_span{
    color: #47C6CB;
}

@media only screen and (max-width: 917px) {
    .hero-image_container {
      background-image: none;
      background-color: #000;
    }
    .hero-image_text_button{

    }
    .hero-image_mobile{
        display: block;
        background-image: url('../images/Jacob.jpg');
        background-color: #000;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100vw;
        height: 300px;
    }
    .hero-image_text{

        margin-right: auto;
    }
    .hero-image_text_heading{
        padding-top: 0;
        width: 60vw;
    }
    .hero-image_text_p{
        width: 60vw;
    }
    .fl{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;

    }
  }

  @media only screen and (max-width: 1300px) {

    .flexcon{
        justify-content: left;
    }
    .hero-image_container{
        order:2;
        margin-top: 40px;

    }
    .hero-image_text_heading{
        padding: 1em;
    }
    .hero-image_text{
        margin-left: 0;


    }
    .hero-image_text_heading{
        padding: 1em;
    }

    .hero-image_text{
        width: 90vw;
        padding-left: 2em;
    }
    .hero-image_text_button{
        padding: 20px;
        margin: 1em;
    }

    .img{
        min-width: 100vw;
        height: 75vw;
    }

    .fl{
        display: flex;
        flex-direction: column;

    }
  }

  @keyframes fadein {
    0% {opacity: 0;}
    0% {right: 1rem;}
    50% {opacity: 1;}
    100% {right: 0rem;}

  }
  @keyframes paintin {
    0% {background-color: 20686a;}
    0% {right: 1rem;}
    50% {opacity: 1;}
    100% {right: 0rem;}

  }

  .pi{
    width: 25vw;
    margin-top: 2.5vw;
    padding: 2vw;

  }
  .pc{
      width: 30vw;
      background-color: #20686a;
      text-align: center;
      color: #fff;
      padding-left: 2vw;
      padding-right: 2vw;
      padding-bottom: 2vw;
  }

  .fl{
      display: flex;


  }
  .pc2{
    width: 30vw;
    background-color: #47C6CB;
    text-align: center;
    color: #000;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.butcontainer{
    display: flex;
    justify-content: center;
}
a:hover { text-decoration: none; }