.white{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 170vh;

}
.flex1{
    margin-top: 2.5vh;
    display: flex;
    width: 90%;
    height: 89vh;
    justify-content: left;
}
.sidebar{
    width: 33.333%;
    background-color: #20686a;
    text-align: center;
    color: white;
    font-family: 'Questrial', sans-serif;
    height: 135vh;


}
h1{
    font-size: 2vw;
    margin-top: 1.5em;
    position: relative;
    bottom: 2.5vw;
    left: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;

}
.content{
    background-color: white;
    width: 66.666%;
    height: 135vh;
}
.logo{
    height: 50vh;
    width: 50vw;
    z-index: 50;
}
.dot {
    height: 5vw;
    width: 5vw;
    border: solid white 2.5px;
    border-radius: 50%;
    display: inline-block;
    font-size: 3vw;
    padding-top: .1vw;

  }
  .dot2 {
    height: 3vw;
    width: 3vw;
    border: solid white 2.5px;
    border-radius: 50%;
    display: inline-block;
    font-size: 3vw;
    padding-top: .1vw;



  }
  .header{
      display: flex;
      align-content: center;
      justify-content: center;
      margin-top: 4vw;
  }
  .title{
      display: flex;
      flex-direction: column;
  }
.wb{
    position: relative;
    bottom: 4vw;
    font-size: 1.5vw;
}
hr{
    border-color: white;
    width: 60px;
}
.con{
    margin-left: 5vw;
    margin-bottom: 0;
    margin-top: 4vw;
}
.con1{
    margin-left: 5vw;
    margin-top: 3vw;

}
.icons{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;

}
.iflex{
    display: flex;
    justify-content: left;
    font-size: 1vw;
    margin-bottom: 0w;
    font-size: 1.5vw;
}

.vl {
    border-left: 1px solid white;
    height: 20px;
    position: relative;
    left: 1.5vw;
    margin: 0;
    padding: 0;

  }
.icon{
    position: relative;
    bottom: 1vw;
    width: 1.5vw
}
.iflex p{
    margin: 0;
    padding: 0;
    padding-top: .75vw;
    padding-left: 1vw;
    font-size: 1vw;
}
.hrflex{
    display: flex;
    justify-content: left;
    text-align: left;
    position: relative;
    right: 7vw;
    top: 1vw;
}
