body{
    background-color: black;
    font-family: 'Questrial', sans-serif;
    height: 100vh;


}
#contact{
    height: 95vh;
    overflow: hidden;
    background-image: url('../images//background2.png');
}
.page{
    width:80vw;
    background-color: #fff;
    margin: auto;


}

.flex{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.name{
    font-size: 2rem;
    margin-left: 1rem;
    position: relative;
    top: 1rem;
}

#logo{
    height: 3rem;
    margin-right: 1rem;
    position: relative;
    bottom: .5rem;
    margin-left: 1rem;
}
.white{
    background-color: white !important;
    background-image: none;
}
.objective{
    text-align: center;
    background-color: #1B5D5F;
    color: #fff;
    padding: 1rem;

}
.O{
    font-size: 1.5rem;
    color: #fff;
}

.sum{
    margin: 1rem;
}
.pe{
    font-size: 2rem;
    background-color: #20686a;
    color: #fff;
    padding: 1rem;


}
.bstock{
    margin: 1rem;
}
.jobul{
    display: block;
    word-spacing: normal;
    list-style: disc;
}
.apps{
    margin: 1rem;
}
.joba{
    color: #FF8552 !important;
}
.ed{
    margin: 1rem;
}
.cm{
    color: #47C6CB;
    margin: 2rem 0;
    font-size: 2rem;
    border-bottom: 1px solid #FF8552;
}
.c1{
    color: #47C6CB;
    margin: 2rem;
    font-size: 2rem;
}
.wt{
    background-color: #000;
    border: solid 1px #FF8552;
    color: #47c6CB;
    margin: 2rem;
    padding-left: 1em;
    padding-right: 1em;

}
.con{
    color: white;
    width: 70vw;
    padding-right: 5em;

    background-image: url('../images/background2.png');
    height: 90vh;
    padding-top: 5rem;
    position: relative;
    bottom: 5rem;
    z-index: 2;

}
.menlinks{
    z-index: 3;
}
.flexy{
    display: flex;
    flex:1;

}
.flexy1{
    width: 40vw;
}
.me{

    height: 110vh;
    position: relative;
    right:13rem;
    bottom: 3rem;
    z-index: 1;




}
#about{
    height: 95vh;
    overflow: hidden;
    background-color: #030304


}
main{
    height: 95vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
main::-webkit-scrollbar {
    display: none;
  }
  .paint::-webkit-scrollbar {
    display: none;
  }

html::-webkit-scrollbar {
    display: none;
  }
 html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .paint {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.bstock span{
    color: #FF8552
}
@media (max-width: 1420px) {
    .flexy{
    flex-direction: column;
    }
    .flexy1{
        width: 100vw;
    }
    .con{
        padding-right: 0;
        width: 90vw;
        height: inherit;
        position: inherit;

    }
    #about{
        height: inherit;



    }
    .me{
        right:0;
        width: inherit;
        height: inherit;
        bottom: inherit;
    }
    #me{
        height: 40vw;
        overflow: hidden;
        margin: auto;
        text-align: center;
        margin-top: 10vw;

    }
    #about{
        overflow: initial;
    }
    #contact{
        overflow: initial;
        height: inherit;
    }

}