header{
  color: white;
  background-color: #000;
  font-size: 18px;
  font-family: 'Questrial', sans-serif;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  z-index: 50;
}
ul{
  display: flex;
  word-spacing: 10rem;
  list-style: none;
}
li{
  margin-left: 1rem;
  margin-right: 1rem;
}
span{
  color: #47C6CB;
  padding-top: 2rem;
}
.menu_brand{
  margin-top:18px;
  margin-left: 1rem;
}
.icon{
  width: 2vw;
}